In [14]:
# adding the packages
import pandas as pd
import quandl, math
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import cross_validate, train_test_split 
from sklearn.linear_model import LinearRegression

In [15]:
# geting the Quandl API_KEY
with open('api_key.txt') as api_key:
    key = api_key.read().strip()
quandl.ApiConfig.api_key = key

In [16]:
# getting the WIKI/GOOGL dataset into pandas DataFrame df
df = quandl.get("WIKI/GOOGL")
df.head() # This prints the first 5 rows sample of df

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [17]:
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']] # List out the features to be used

# Creating new features base on insight from the df to enhance performance
df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low']) / df['Adj. Low'] * 100.0 
df['PCT_Change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

# Defining the new DataFrame
df = df[['Adj. Close','HL_PCT','PCT_Change','Adj. Volume']]
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

In [18]:
forecast_col = 'Adj. Close'
# fill null values with -9999
df.fillna(-9999, inplace = True)

forecast_out = int(math.ceil(0.01 * len(df)))

df['label'] = df[forecast_col].shift(-forecast_out)
df.dropna(inplace = True)
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume      label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  69.078238
2004-08-20   54.322689  8.537313    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.966115    1.183658    9188600.0  71.219849

In [19]:
X = np.array(df.drop(['label'],1))
y = np.array(df['label'])

X = preprocessing.scale(X)
y = np.array(df['label'])

X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

clf = LinearRegression()
clf.fit(X_train, y_train)

accuracy = clf.score(X_test, y_test)

In [20]:
print(accuracy)

0.9752244293874166